html,
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
}

.bd-exemple {
    height: 30em;
}

.white {

    opacity: 0.9;
    margin-top: 5em;
    box-shadow: 10px 10px 20px 10px;
}

.collapse {
    text-align: ;
}

h1 {
    color: grey;
    text-align: center;
}

li {
    width: auto;
}


.us {
    background-color: #00080D;
    color: lightgrey;
}

hr {
    background-color: white;
}

.greybg {
    background-color: #C5D0D9;
}

.ongrey {
    color: #194073;
}
#laptop {
    background-image: url("../img/laptop.jpg");
      display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 5px;
	height: 170px;
	width: 220px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-position: center;

    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 98%), center top / cover url("../img/laptop.jpg");
 
    text-shadow: 3px 3px 5px black;
}
#waterdrop {
    background-image: url("../img/waterdrop.jpg");
      display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 5px;
	height: 170px;
	width: 220px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-position: center;

    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 98%), center top / cover url("../img/waterdrop.jpg");
 
    text-shadow: 3px 3px 5px black;
}
#montagne {
    background-image: url("../img/montagne.jpg");
      display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 5px;
	height: 170px;
	width: 220px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-position: center;

    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 98%), center top / cover url("../img/montagne.jpg");
 
    text-shadow: 3px 3px 5px black;
}
#gallet {
    background-image: url("../img/gallet.jpg");
      display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 5px;
	height: 170px;
	width: 220px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-position: center;

    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 98%), center top / cover url("../img/gallet.jpg");
 
    text-shadow: 3px 3px 5px black;
}